.project_content{
    margin-top: -60px;
}

.domain_buttons{
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
}
.domain_buttons::-webkit-scrollbar {    
    height: 9px;
}

.domain_buttons::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px; 
}

.domain_buttons::-webkit-scrollbar-thumb {
    background: #393A47; 
    border-radius: 10px;
    border: 3px solid #ffffff; 
}
.domain_buttons::-webkit-scrollbar-thumb:hover {
    background: #F13024;
}

.cardColor{
    background-color: #131424;
    border-radius: 20px;
    height: 500px;
    /* height: 400px; */
}
.cardColor:hover
{
  box-shadow: 0px 0px 15px #F13024;
}


.project-section{
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    /* background-color: white; */
}
.project-section::-webkit-scrollbar {
    padding-left: 10px;
    width: 8px; /* Width of the scrollbar */
}

.project-section::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px; 
}

.project-section::-webkit-scrollbar-thumb {
    background: #393A47; 
    border-radius: 10px;
    border: 3px solid #ffffff; 
}
.project-section::-webkit-scrollbar-thumb:hover {
    background: #F13024;
}


  @media screen and (min-width: 300px) and (max-width: 780px) {

    .project_content{
        margin-top: 0px !important;
    }
    .project-section{
        max-height: 600px !important;
        padding-right: 10px;
        max-width: 400px;
    }
    .cardColor{
        margin: 0px;
        background-color: #282B46;
        border-radius: 20px;
        /* height: 400px; */
    }
    .extraSpaceInWork{
        height: 300px;
    }
    .cardColor:hover
    {
      box-shadow: 0px 0px 15px #F13024;
    }
  }
  